.about{
    width: 100%;
    background-color:var(--color-light-green);
    padding: 7rem;
}

.about_container{
    display: flex;
    justify-content: space-between;
   
}

.about_container_imgBox {
    
    height: 35rem;
    width: 25rem;
    
    position: relative;
    border: 10px solid var(--color-dark-green);

}

.about_container_imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.about_container_imgBox::before{
    content: "";
    background: url("../../assets/images/about_room.jpg") center/cover; 
    border: 10px  solid var(--color-white);
    height: 20rem;
    width: 17rem;
    position: absolute;
    bottom: 100px;
    left: -90px;
    
}

.about_container_info{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right:  12rem;
    align-items: flex-start;
}

.about_container_info h4{
    font-weight: 500;
    color: var(--color-dark-green);
    border-left: 5px solid var(--color-creame);
    padding-left:1rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.about_container_info h2{
   
    font-size:4rem;
    margin-bottom: 2rem;
    font-family:var(--font-serif);
    font-weight: 700;
}
.about_container_info p{
    color:var(--color-grey);
    font-size: 1rem;
    letter-spacing: 1px;
}
.button {
    margin-top: 1rem;
    display: inline-block;
    padding: 10px 20px;
    background-color:var(--color-dark-green); 
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgb(41, 60, 41); 
  }
  @media screen and (max-width: 1024px) {
    .about {
      padding: 5rem;
    }
  
    .about_container {
      flex-direction: column;
      align-items: center;
    }
    .about_container_imgBox {
      height: 20rem;
      width: 20rem;
    }
  
  
    .about_container_imgBox::before {
      height:14rem;
      width: 14rem;
      bottom: -70px;
      right: -70px;
    }
  
    .about_container_imgBox,
    .about_container_info {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 1rem;
      align-items: center;
    }
  
    .about_container_info h2,
    .about_container_info p,.about_container_info h4 {
      text-align: center;
    }
  
    
  }
  
  @media screen and (max-width: 768px) {
    .about_container_imgBox {
      height: 18rem;
      width: 18rem;
      margin-top: 1.5rem;
    }
    .about_container_info h4{
        text-align: center;
    }
  
    .about_container_imgBox::before {
      height:12rem;
      width: 12rem;
      bottom: -50px;
      right: -50px;
    }
  
    .about_container_info h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .about_container_info p {
      font-size: 0.9rem;
      margin-top: 1.5rem;
    }
   
    
  }
  
  @media screen and (max-width: 500px) {
    .about {
      padding: 3rem;
    }
  
    .about_container_imgBox {
      height: 20rem;
      width: 20rem;
      
      margin-top: 1.5rem;
    }
  
    .about_container_info {
      padding-left: 0; 
      order: 1; 
    }
  
    .about_container_imgBox::before {
      height: 12rem;
      width: 12rem;
      bottom: -40px;
      right: -40px;
    }
  
    .about_container_info h2 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  
    .about_container_info p {
      font-size: 0.8rem;
      margin-top: 1.5rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    .about {
      padding: 4rem;
    }
  
    .about_container_imgBox {
      margin-top: 1.5rem;
      height: 16rem;
      width: 16rem;
     
    }
  
    .about_container_info {
      margin-top: 2rem;
      padding-left: 0; 
      
    }
  
    .about_container_imgBox::before {
      height: 10rem;
      width: 10rem;
      bottom: -50px;
     left:-50px;
    }
    .about_container_info p {
      margin-top: 1.5rem;
    }
  
    .about_container_info h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  
    .about_container_info p {
      font-size: 0.8rem;
    }
  }
  