
.parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/hero.jpg');
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero_text {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    
}

.hero_text h5{
    color:var(--color-white);
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 0 6px #000000, 0 0 5px #555555;
}
.hero_heading{
    text-align: center;
    padding: 2px; 
   
}

/* .hero_heading h1 {
    padding:10px;
    color: white;
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: italic; 
    font-size: 10rem;
    margin:0;
    background-image: url('../../assets/images/hero_text.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
 */
 .hero_heading h1 {
    padding:2px;
    color: var(--color-white);
    font-family: var(--font-serif);
    font-weight: 700;
    font-style: italic; 
    font-size: 10rem;
    margin:0;
    text-shadow: 0 0 10px #000000, 0 0 10px #555555;
 }

.text_change {
   
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute; 
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%);
   
}
.subheading{
    width: 100%;
}
 .subheading h3{

    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    color:var(--color-white);
    text-shadow: 0 0 6px #000000, 0 0 5px #555555;
}

.text_change span::before {
    color:var(--color-wheat);
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 5rem;
    font-style: normal;
    text-shadow: 0 0 6px #000000, 0 0 5px #c2bb6e;
    text-align: center;
    content: "Services";
    animation: animate infinite 5s;
}






@keyframes animate { 

    0% { 
        content: "Services"; 
    } 

    50% { 
        content: "Location"; 
    } 

    75% { 
        content: "& Facility"; 
    } 
} 


  @media screen and (max-width: 1250px) {

    .hero_heading h1{
        font-size: 8rem;
        
        
      }  
      
      .hero_text h2 {
            font-size: 1.5rem;
          
         }
      
            
         .subheading h3{
  
          margin-top: 7rem;
          font-size: 2.25rem;
          
      }
      
      .text_change span::before {
         
          font-size: 4rem;
        
         
      }
    
      
    }
    @media screen and (max-width: 1000px) {
 
    .hero_heading h1{
      font-size: 6.5rem;
      
      
    }  
    
    .hero_text h5 {
          font-size: 1.2rem;
        
       }
    
          
       .subheading h3{

       margin-top: 8rem;
        font-size: 2rem;
        
    }
    
    .text_change span::before {
       
        font-size: 3.5rem;
      
       
    }
    
      
    }

    @media screen and (max-width: 825px) {
 
        .hero_heading h1{
          font-size: 6.25rem;
          
          
        }  
        
        .hero_text h5 {
              font-size: 1.1rem;
            
           }
        
              
           .subheading h3{
    
           margin-top: 7rem;
            font-size: 1.6rem;
            
        }
        .text_change {
   
            
            top: 75%;
            
         }
        
        .text_change span::before {
           
            font-size: 3rem;
          
           
        }
        
          
        }
        @media screen and (max-width: 780px) {
 
            .hero_heading h1{
              font-size: 5rem;
              
              
            }  
            
            .hero_text h5 {
                  font-size: 1rem;
                
               }
            
                       
           .subheading h3{
    
            margin-top: 8rem;
             font-size: 1.75em;
             
         }
        
         }
      
            @media screen and (max-width: 665px) {
 
                
                
                .subheading h3{
    
                
                     font-size: 1.5rem;
                     
                 }      
                  
               
                  
                }
          
            
                @media screen and (max-width: 400px) {
                
                    .hero_heading h1{
                      font-size: 3.5rem;
                      
                      
                    }  
                    
                    .hero_text h5 {
                          font-size: 1.2rem;
                        
                       }
                    
                               
                   .subheading h3{
            
                    margin-top: 6rem;
                     font-size: 1.4rem;
                     
                 }
                 .text_change {
            
                     
                     top: 70%;
                     
                  }
                 }
              