#slides_parent {
  padding-bottom: 150px;
}

.slides {
  display: flex;
  justify-content: center;
}

.slides h4 {
  color: #444;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}



.first_slide_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Aquarium_Island_Cafe_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}


.container.expanded .first_slide_container.slide_2,
.container.expanded .first_slide_container.slide_3 {
  min-width: 60px;
}

.container.expanded .first_slide_container.slide_2:hover,
.container.expanded .first_slide_container.slide_3:hover {
  min-width: 250px;
}

.first_slide_container:hover {
  min-width: 250px;
}

.first_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

/* Second Slide Container */


.second_slide_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Sattal_Lake_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.second_slide_container.shrinked {
  min-width: 60px !important;
}

.container.expanded .second_slide_container {
  min-width: 250px;
}

.container.expanded .second_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

.container.expanded .second_slide_container.slide_4,
.container.expanded .second_slide_container.slide_5 {
  min-width: 60px;
}

.container.expanded .second_slide_container.slide_4:hover,
.container.expanded .second_slide_container.slide_5:hover {
  min-width: 250px;
}

.second_slide_container:hover {
  min-width: 250px;
}

.second_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

/* Third Slide Container */

.third_slide_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Khurpatal_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.third_slide_container.shrinked {
  min-width: 60px !important;
}

.container.expanded .third_slide_container {
  min-width: 250px;
}

.container.expanded .third_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

.container.expanded .third_slide_container.slide_6,
.container.expanded .third_slide_container.slide_7 {
  min-width: 60px;
}

.container.expanded .third_slide_container.slide_6:hover,
.container.expanded .third_slide_container.slide_7:hover {
  min-width: 250px;
}

.third_slide_container:hover {
  min-width: 250px;
}

.third_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}


/* Fourth Slide Container */

.fourth_slide_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Almora_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.fourth_slide_container.shrinked {
  min-width: 60px !important;
}

.container.expanded .fourth_slide_container {
  min-width: 250px;
}

.container.expanded .fourth_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

.container.expanded .fourth_slide_container.slide_8,
.container.expanded .fourth_slide_container.slide_9 {
  min-width: 60px;
}

.container.expanded .fourth_slide_container.slide_8:hover,
.container.expanded .third_slide_container.slide_9:hover {
  min-width: 250px;
}

.fourth_slide_container:hover {
  min-width: 250px;
}

.fourth_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

/* Fifth Slide Container */

.fifth_slide_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Nainital_1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.fifth_slide_container.shrinked {
  min-width: 60px !important;
}

.container.expanded .fifth_slide_container {
  min-width: 250px;
}

.container.expanded .fifth_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

.container.expanded .fifth_slide_container.slide_10,
.container.expanded .fifth_slide_container.slide_11 {
  min-width: 60px;
}

.container.expanded .fifth_slide_container.slide_10:hover,
.container.expanded .fifth_slide_container.slide_11:hover {
  min-width: 250px;
}

.fifth_slide_container:hover {
  min-width: 250px;
}

.fifth_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

/* Sixth Slide Container */

.sixth_slide_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Corbett_National_Park_1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.sixth_slide_container.shrinked {
  min-width: 60px !important;
}

.container.expanded .sixth_slide_container {
  min-width: 250px;
}

.container.expanded .sixth_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}

.container.expanded .sixth_slide_container.slide_12,
.container.expanded .sixth_slide_container.slide_13 {
  min-width: 60px;
}

.container.expanded .sixth_slide_container.slide_12:hover,
.container.expanded .sixth_slide_container.slide_13:hover {
  min-width: 250px;
}

.sixth_slide_container:hover {
  min-width: 250px;
}

.sixth_slide_container:hover .slide_info {
  transform: rotate(0deg);
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}



.slide_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Aquarium_Island_Cafe_2.jpg);
}

.slide_3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Aquarium_Island_Cafe_3.jpeg);
}

.slide_4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Sattal_Lake_2.jpg);
}

.slide_5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Sattal_Lake_3.jpg);
}

.slide_6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Khurpatal_2.jpg);
}

.slide_7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Khurpatal_3.jpeg);
}

.slide_8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Almora_2.jpg);
}

.slide_9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Almora_3.jpg);
}

.slide_10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Nainital_2.jpeg);
}

.slide_11 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Nainital_3.jpg);
}

.slide_12 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Corbett_National_Park_2.jpeg);
}

.slide_13 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/Corbett_National_Park_3.jpeg);
}


.attarction-slide span {
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a7a6a6;
}


.header-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url("../../assets/images/header_container.jpg") center;
  background-size: cover;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container h1 {
  color: var(--color-white);
  font-size: 4rem;
  line-height: 4rem;
 
}


.header-container::after {
  content: "";
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.header-image {
  width: 100%;
  height: 500px;
}

.header-text {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0.6rem 0 1.5rem;
  margin-top: 5rem;
}

.header-text h1 {
  font-size: 76px;
  margin-bottom: 20px;
  color: white;
  font-family: var(--font-serif);
  text-shadow: 0 0 10px #000000, 0 0 10px #555555;
}

.header-text p {
  font-size: 18px;
  line-height: 1.5;
}

.text {
  width: 50%;
  margin-top: 10%;
  margin-right: 10%;
}

.text h2 {
  color: var(--color-heading);
  margin-bottom: 20px;
  font-size: 55px;
}

.text p {
  color: var(--color-grey);
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.attraction-container {
  background-color: #F8F8F8;
  padding-bottom: 5rem;
}

.attraction-heading h1 {
  color: #4e492a;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 50px;
  font-family: var(--font-serif);
}

.attraction-heading h2 {
  /* color: var(--color-grey); */
  color: rgb(110, 110, 110);
  font-size: 20px;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 50px;

}

.attarction-slide {
  margin: 1em 0;
  background-color: #F8F5F0;
  padding: 20px;
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.attarction-slide img {
  border-radius: 50%;
  margin-left: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  /* box-shadow: 0 0 10px rgb(13, 13,130);  */
  /* border: 1px solid #000;  */
  filter: drop-shadow(0, 0, 10, rgba(0, 0, 0, 0.2));
  margin-right: 1em;
  float: right;
  margin-bottom: 0;
  order: 1;

}

.attarction-slide p {
  color:var(--color-grey);
  margin-left: 20px;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.attarction-slide footer {
  color: grey;
  margin-left: 15px;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.attarction-slide h3 {
  color: var(--color-dark-green);
  margin-left: 20px;
  font-size: 40px;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
  font-family: var(--font-serif);
}

@media screen and (max-width: 1024px) {

  .attarction-slide img {
    width: 250px;
    height: 250px;
  }

  .attarction-slide img {
    /* margin-left: 20px; */
    margin-left: 40px;
  }

  .attarction-slide p {
    font-size: 16px;
    text-align: justify;
  }

  .attarction-slide h3 {
    font-size: 30px;
    text-align: center;
  }
}


@media screen and (max-width: 768px) {

  .attraction-heading h1 {
    font-size: 19px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .attraction-heading h2 {
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  .attarction-slide span {
    font-size: 12px;
    text-align: center;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b7b5b5;
  }

  .attarction-slide h3 {
    text-align: center;
    /* padding: -10px; */
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: 20px;
  }

  .attarction-slide p {
    text-align: justify;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 15px;
  }

  .attarction-slide {
    width: 90%;
    /* margin: 1em auto; */
    margin-bottom: 50px; 

  }

  /* First Slide Container */
  .attarction-slide .slides .first_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .first_slide_container.slide_2,
  .attarction-slide .slides .first_slide_container.slide_3 {
    display: none;
  }

  /* Second Slide Container */
  .attarction-slide .slides .second_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .second_slide_container.slide_4,
  .attarction-slide .slides .second_slide_container.slide_5 {
    display: none;
  }

  /* Third Slide Container */
  .attarction-slide .slides .third_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .third_slide_container.slide_6,
  .attarction-slide .slides .third_slide_container.slide_7 {
    display: none;
  }

  /* Fourth Slide Container */
  .attarction-slide .slides .fourth_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .fourth_slide_container.slide_8,
  .attarction-slide .slides .fourth_slide_container.slide_9 {
    display: none;
  }

  /* Fifth Slide Container */
  .attarction-slide .slides .fifth_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .fifth_slide_container.slide_10,
  .attarction-slide .slides .fifth_slide_container.slide_11 {
    display: none;
  }

  /* Sixth Slide Container */
  .attarction-slide .slides .sixth_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .sixth_slide_container.slide_12,
  .attarction-slide .slides .sixth_slide_container.slide_13 {
    display: none;
  }


}

@media screen and (max-width: 660px) {

  .attarction-slide img {
    width: 200px;
    height: 200px;
  }

  .attarction-slide p {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {

  .attarction-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .attarction-slide img {
    width: 150px;
    height: 150px;
    /* align-item:; */
  }

  .attarction-slide {
    flex-direction: column-reverse;
  }

  .attarction-slide p {
    text-align: justify;
    margin: auto;
  }

  .attarction-slide p {
    font-size: 12px;
  }

  .header-text h1 {
    font-size: 45px;
  }
}


@media screen and (max-width: 480px) {

  .header-text h1 {
    font-size: 50px;
    margin-top: 70px;
  }
  .header-container {
    background-size: 100% 100%; 
  }

  .header-container>h1 {
    font-size: 2.5rem;
    margin-right: 40px;
    margin-top: 70px;
  }


  .attarction-slide {
    margin-bottom: 50px;
  }

  .attarction-slide .slides {
    margin-top: 20px;
  }

  /* First Slide Container */
  .attarction-slide .slides .first_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .first_slide_container.slide_2,
  .attarction-slide .slides .first_slide_container.slide_3 {
    display: none;
  }

  /* Second Slide Container */
  .attarction-slide .slides .second_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .second_slide_container.slide_4,
  .attarction-slide .slides .second_slide_container.slide_5 {
    display: none;
  }

  /* Third Slide Container */
  .attarction-slide .slides .third_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .third_slide_container.slide_6,
  .attarction-slide .slides .third_slide_container.slide_7 {
    display: none;
  }

  /* Fourth Slide Container */
  .attarction-slide .slides .fourth_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .fourth_slide_container.slide_8,
  .attarction-slide .slides .fourth_slide_container.slide_9 {
    display: none;
  }

  /* Fifth Slide Container */
  .attarction-slide .slides .fifth_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .fifth_slide_container.slide_10,
  .attarction-slide .slides .fifth_slide_container.slide_11 {
    display: none;
  }

  /* Sixth Slide Container */
  .attarction-slide .slides .sixth_slide_container {
    min-width: 250px !important;
  }

  .attarction-slide .slides .sixth_slide_container.slide_12,
  .attarction-slide .slides .sixth_slide_container.slide_13 {
    display: none;
  }

  .attraction-heading h1 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;

  }
  .attraction-heading h2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 50px;
  } 

  .attarction-slide span {
    font-size: 11px;
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b7b5b5;
  }

  .attarction-slide h3 {
    text-align: center;
    /* padding: -10px; */
    margin-bottom: 10px;
    margin-right: 20px;
    padding-bottom: 0;
    font-size: 22px;
  }

  .attarction-slide p {
    text-align: justify;
    margin: auto;
    margin-top: 30px;
  }
}