@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  height: auto;
  background: url("https://images.unsplash.com/photo-1565461133566-e35e9e120d5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") left bottom no-repeat;
  background-color: rgba(0, 0, 0, 0.747);
  background-size: cover;
  background-blend-mode: multiply;
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}

.hero .container {
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.flex {
  display: flex;
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
  margin-top: 30px;
}

.logo {
  width: 200px; 
  height: auto; 
}


.footer_copyRight{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: var(--color-white);
  font-size: 1rem;
}

.footer_copyRight h4 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}




.container__about {
  margin-bottom: 30px;
}

.container__about p {
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.container-pages {
  column-gap: 30px;
}

.container-pages ul {
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}

.container-pages ul a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages ul a:hover {
  color: var(--color-dark-green);
}

.container__more ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add some margin between each list item */
}

.container__more ul li svg {
  margin-right: 10px; /* Add space between icon and text */
}

.container__more ul a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

footer .by {
  margin-top: 30px;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
}

footer .by p {
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.line__separate {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}

.icons {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover svg {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}


@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2 {
    font-size: 20px;
  }

  .container__about p {
    font-size: 12px;
  }

  .container__recentpages h2 {
    font-size: 20px;
  }

  .container-pages ul a {
    font-size: 12px;
  }

  footer .by p {
    font-size: 12px;
  }
}
