@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family :"Ubuntu",san-serif & "unna",serif*/


* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

:root{
     --color-white:white;
     --color-dark-green:rgb(115, 129, 118);
     --color-light-green:rgb(186, 208, 191);
     --color-creame:rgb(255, 226, 178);
     --color-wheat: wheat;
    --font-serif:"Unna", serif;
    --font-sanserif:"Ubuntu",san-serif;
}
