@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color:  #fff;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


h1, h4,p, a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-light {
    background: transparent;
    color: #fff;
}

.btn.hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

:root{
    --color-black:#1a1a1a;
    --color-grey:#5a5a5a;
    --color-heading:#c29a5c;
}