
.rooms-container {
  
  max-width: 100%;
  
  margin-bottom: 7rem;
  background-color: #f3eddd;
  padding: 7rem 0;
}

.head {
  text-align: center;
  margin-bottom: 30px;
}

.head h1 {
  font-size: 55px;
  color: #4e492a;
  margin-bottom: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.room-card {
  
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 350px;

  margin: 3rem;
  height: 485px;
  position: relative;
  padding: 8px;
}

.room-card:hover{
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease;
}


.room-card .middle h2 {
  color: white; 
  background-color: #4e492a;
  padding: 10px 10px; 
  border-radius: 5px; 
} 

.room-card img {
  object-fit: cover;

  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  opacity: 1;
  display: block;
  transition: transform 0.3s ease;
}

.room-card h2 {
  font-size: 1.2rem;
  color: #4e492a;
  margin-bottom: 15px;
  text-align: center;
}

.room-card p {
 font-size: 1rem;
 margin: 5px;
 color:var(--color-grey)
}



.room-card ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0; 
}

.room-card ul li {
  margin-bottom: 10px; 
  font-size: 1rem; 
  color:var(--color-grey);
  line-height: 1; 
}

.room-card ul li svg {
  text-align: start;
  font-size: 1.2rem;
  vertical-align: middle; /* Align SVG icons vertically */
  margin-right: 5px; /* Add spacing between icon and text */
  color: #4e492a;
}

.modalimg {
  position: fixed;
  transform: translate(-50%,-50%); 
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2; /* Ensure the modal appears above other content */
}



.close {
  position: absolute;
  top: 15%;
  left: 70%;
  font-size: 1.2rem;
  cursor: pointer;
  font-size: 54px;
  color: black;
}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Apply blur effect */
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1; /* Ensure it's behind the modal */
  display: flex;
    justify-content: center; 
    align-items: center;
}
.zoom-icon {
  position: absolute;
  top: 195px;
  right: 10px; /* Adjust as needed */
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5); /* Optional: Add a background color for better visibility */

  padding: 4px; 
  cursor: pointer; 
}
  
@media (max-width: 768px) {

  .modalimg{
    height: 300px;
    width: 400px;
  }
  .close {
    left: 85%;
    top: 23%; /* Adjust the top position for small screens */
    font-size: 46px; /* Adjust font size for small screens */
  }
  
  
  }
  
  @media (max-width: 480px) {
    .zoom-icon , .modalimg , .close, .blur{
      display: none;
    }
  }
  
  
  
    
  